<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="org.apache.cordova.plugin.ToastPlugin"
        version="0.0.1">
    
    <name>ToastPlugin</name>
    <description>Toast Plugin</description>
    <license>MIT</license>
    
    <engines>
        <engine name="cordova" version=">=2.9.0" />
    </engines>
    <!---->
    <js-module src="plugins/org.apache.cordova.plugin/www/toast.js" name="AdMob">
        <clobbers target="window.toast"/>
    </js-module>
    
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ToastPlugin" >
                <param name="android-package" value="org.apache.cordova.plugin.ToastPlugin"/>
            </feature>
        </config-file>

        <source-file src="org/apache/cordova/plugin/ToastPlugin.java" target-dir="org/apache/cordova/plugin"/>
    </platform>
</plugin>
